<!DOCTYPE html>
<html>
    <head><title>Login de Usuario</title></head>
    <body>
        <main style="margin: 50px;">
            <h1>Login de Usuario</h1>
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
            </form>

            {% if msj %}
                <br>
                <p style="background-color: #fa847f; padding:10px;">{{ msj }}</p>
            {% endif %}
            <hr>
            <a href="{% url 'index' %}">Home </a>
        </main>
    </body>
</html>